.post {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 4px 2px gray;
}
.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
}
.post__avatar {
  margin-right: 10px;
}
.post__topInfo > h3 {
  font-size: medium;
}
.post__topInfo > p {
  font-size: small;
  color: gray;
}
.post__image > img {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  width: 100%;
}
.post__bottom {
  margin-bottom: 10px;
  padding: 10px 10px;
}
.post__options {
  padding-top: 10px;
  border-top: 1px solid whitesmoke;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 10px;
}
.post__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.post__buttons > p {
  margin-left: 10px;
}
.post__buttons:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}
.comment {
  flex-direction: column;
  width: 100%;
}
.comment__sender {
  display: flex;
  border-top: 1px solid whitesmoke;
  padding: 10px;
}
.comment__sender > form {
  display: flex;
  flex: 1;
}
.comment__sender > form > input {
  border: none;
  border-radius: 100px;
  outline-width: 0;
  padding: 10px 20px;
  margin: 0px 10px;
  background-color: whitesmoke;
}
.comment__sender > form > button {
  display: none;
}
.comment__input {
  flex: 1;
}
.comment__section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 10px;
}
.comment__avatar {
  margin-right: 10px;
}
.comment__text {
  display: flex;
  margin-bottom: 10px;
}
.comment__text > p {
  margin-top: 7px;
  font-size: medium;
}
